 <!-- CSS FILES START -->
    <link href="../../bthed/css/custom.css" rel="stylesheet">
    <link href="../../bthed/css/color.css" rel="stylesheet">
    <link href="../../bthed/css/responsive.css" rel="stylesheet">
    <link href="../../bthed/css/owl.carousel.min.css" rel="stylesheet">
    <link href="../../bthed/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../bthed/css/prettyPhoto.css" rel="stylesheet">
    <link href="../../bthed/css/all.min.css" rel="stylesheet">
    <!-- CSS FILES End -->
  <!--   JS Files Start  --> 
    <script src="../../bthed/js/jquery-3.3.1.min.js"></script> 
    <script src="../../bthed/js/jquery-migrate-1.4.1.min.js"></script> 
    <script src="../../bthed/js/popper.min.js"></script> 
    <script src="../../bthed/js/bootstrap.min.js"></script> 
    <script src="../../bthed/js/owl.carousel.min.js"></script> 
    <script src="../../bthed/js/jquery.prettyPhoto.js"></script> 
    <script src="../../bthed/js/isotope.min.js"></script> 
    <script src="../../bthed/js/custom.js"></script>
<div class="container text-center">
<h1 class="text-center h1">Añadir Destino</h1>
<%= render 'form', lugare: @lugare %>

<%= link_to 'Regresar', lugares_path, class: 'btn btn-warning' %>
</div>