@import "bootstrap";
.text {
    background-color: white !important;
    background-position: 10px 10px !important;
    background-repeat: no-repeat !important;
    padding-left: 40px !important;
  }

  .searchbar {
    height: 100px !important;
    font-size: 3em !important;
    width: 100% !important;
    float:left !important;
    padding-right:120px !important;
    background-image: url(http://ii.alatest.com/css/iphone/search_icon.gif) !important;
    background-position: 98% 50% !important;
    background-repeat: no-repeat !important;
}