<!--Footer Start-->
         <footer class="footer">
            <div class="footer-top wf100">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-3 col-md-6 col-sm-6">
                        <!--Footer Widget Start-->
                        <div class="footer-widget">
                           <h4>Acerca de nosotros</h4>
                           <p> Somos un equipo de estudiantes de la UTP, con el objetivo de orientar a las personas sobre el estado del medio ambiente, dispuestos a hacer un cambio en la sociedad, todo esto sin ánimos de lucro. </p>
                           <a href="#" class="lm">Contactar</a> 
                        </div>
                        <!--Footer Widget End--> 
                     </div>
                     <div class="col-lg-3 col-md-6 col-sm-6">
                        <!--Footer Widget Start-->
                        <div class="footer-widget">
                           <h4>Nuestras Promesas</h4>
                           <ul class="quick-links">
                              <li><a href="#">Brindar información confiable</a></li>
                              <li><a href="#">Ayudar a tu comunidad</a></li>
                              <li><a href="#">Eco Ideas</a></li>
                              <li><a href="#">Jornadas de reciclaje</a></li>
                              <li><a href="#">Plantar árboles</a></li>
                              <li><a href="#">Proteger la vida silvestre </a></li>
                           </ul>
                        </div>
                        <!--Footer Widget End--> 
                     </div>
                     <div class="col-lg-3 col-md-6 col-sm-6">
                        <!--Footer Widget Start-->
                        <div class="footer-widget">
                           <h4>Artículos Recientes</h4>
                           <ul class="lastest-products">
                              <li> <img src="images/flp1.jpg" alt=""> <strong><a href="#">¿Cómo puedes mantener vivos a los animales salvajes?...</a></strong> <span class="pdate"><i>Publicado:</i> 21 de Octubre, 2020</span> </li>
                              <li> <img src="images/flp2.jpg" alt=""> <strong><a href="#">Elimine la contaminación de su botella de plástico y mantenga...</a></strong> <span class="pdate"><i>Publicado:</i> 5 de Octubre, 2020</span> </li>
                              <li> <img src="images/flp3.jpg" alt=""> <strong><a href="#">¿Cómo puedo mantener limpia mi comunidad?...</a></strong> <span class="pdate"><i>Publicado:</i> 29 de Septiembre, 2020</span> </li>
                           </ul>
                        </div>
                        <!--Footer Widget End--> 
                     </div>
                     <div class="col-lg-3 col-md-6 col-sm-6">
                        <!--Footer Widget Start-->
                        <div class="footer-widget">
                           <div id="fpro-slider" class="owl-carousel owl-theme">
                              <!--Footer Product Start-->
                              <div class="item">
                                 <div class="f-product">
                                    <img src="images/fpro1.jpg" alt="">
                                    <div class="fp-text">
                                       <h6><a href="#">Buy T-Shirts</a></h6>
                                       <strong>$19.00</strong> 
                                    </div>
                                 </div>
                              </div>
                              <!--Footer Product End--> 
                              <!--Footer Product Start-->
                              <div class="item">
                                 <div class="f-product">
                                    <img src="images/fpro1.jpg" alt="">
                                    <div class="fp-text">
                                       <h6><a href="#">Buy T-Shirts</a></h6>
                                       <strong>$19.00</strong> 
                                    </div>
                                 </div>
                              </div>
                              <!--Footer Product End--> 
                              <!--Footer Product Start-->
                              <div class="item">
                                 <div class="f-product">
                                    <img src="images/fpro1.jpg" alt="">
                                    <div class="fp-text">
                                       <h6><a href="#">Buy T-Shirts</a></h6>
                                       <strong>$19.00</strong> 
                                    </div>
                                 </div>
                              </div>
                              <!--Footer Product End--> 
                           </div>
                        </div>
                        <!--Footer Widget End--> 
                     </div>
                  </div>
               </div>
            </div>
            <div class="footer-copyr wf100">
               <div class="container">
                  <div class="row">
                     <div class="col-md-4 col-sm-4"> <img src="images/logo.png" alt=""> </div>
                     <div class="col-md-8 col-sm-8">
                        <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
         <!--Footer End--> 
